body{
    background-color: lightblue;
}
.input{
    margin-top: 10px;
    margin-bottom: 10px;
}
form{
    margin-left: 10px;
}
button{
    margin-top: 10px;
}
.listado{

}
li{

    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    padding-right: 35px;
    margin: 5px;
    display: block;
    width: fit-content;

}
li.visto{
    background-color: limegreen ;

}
li.pendiente{
    background-color: lightcoral;
}